

@media (min-width:2340px) and (max-width: 2390px){
    .header-container .jwed-for-jewish{font-size: 21px;}
    .sign-up-now-span{font-size: 31px;}
    .btn-getstart{font-size:27px;}
    .email-input{font-size: 27px}
    .small-btn-span{font-size: 24px;}
    .copyright-2017-577{font-size: 20px;}
    .header-container .find-chosen-span{font-size: 65px;}
    .header-container .exclusively-jewish{font-size: 41px;}
    .body-container-1 .jewish-meaningful  {font-size: 53px}
    .body-container-1 .our-top-priority-is{font-size: 35px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 41px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 100px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 42px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 48px;}
    .body-container-3 .success-story-div .success-stories{font-size: 52px;}
    .footer-container .ready-to-find-your-s{font-size: 51px;}
    .footer-container .exclusively-jewish{font-size: 38px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 34px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 7px;}
}
@media (min-width:2290px) and (max-width: 2340px){
    .header-container .jwed-for-jewish{font-size: 21px;}
    .sign-up-now-span{font-size: 31px;}
    .btn-getstart{font-size:26px;}
    .email-input{font-size: 26px}
    .small-btn-span{font-size: 24px;}
    .copyright-2017-577{font-size: 19px;}
    .header-container .find-chosen-span{font-size: 64px;}
    .header-container .exclusively-jewish{font-size: 40px;}
    .body-container-1 .jewish-meaningful  {font-size: 52px}
    .body-container-1 .our-top-priority-is{font-size: 34px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 40px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 99px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 41px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 47px;}
    .body-container-3 .success-story-div .success-stories{font-size: 51px;}
    .footer-container .ready-to-find-your-s{font-size: 50px;}
    .footer-container .exclusively-jewish{font-size: 37px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 33px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 6px;}
}
@media (min-width:2240px) and (max-width: 2290px){
    .header-container .jwed-for-jewish{font-size: 20px;}
    .sign-up-now-span{font-size: 30px;}
    .btn-getstart{font-size:25px;}
    .email-input{font-size: 25px}
    .small-btn-span{font-size: 23px;}
    .copyright-2017-577{font-size: 19px;}
    .header-container .find-chosen-span{font-size: 64px;}
    .header-container .exclusively-jewish{font-size: 40px;}
    .body-container-1 .jewish-meaningful  {font-size: 52px}
    .body-container-1 .our-top-priority-is{font-size: 34px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 40px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 99px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 41px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 47px;}
    .body-container-3 .success-story-div .success-stories{font-size: 51px;}
    .footer-container .ready-to-find-your-s{font-size: 50px;}
    .footer-container .exclusively-jewish{font-size: 37px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 33px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 5px;}
}
@media (min-width:2190px) and (max-width: 2240px){
    .header-container .jwed-for-jewish{font-size: 20px;}
    .sign-up-now-span{font-size: 30px;}
    .btn-getstart{font-size:25px;}
    .email-input{font-size: 25px}
    .small-btn-span{font-size: 23px;}
    .copyright-2017-577{font-size: 18px;}
    .header-container .find-chosen-span{font-size: 63px;}
    .header-container .exclusively-jewish{font-size: 39px;}
    .body-container-1 .jewish-meaningful  {font-size: 51px}
    .body-container-1 .our-top-priority-is{font-size: 33px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 39px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 98px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 40px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 46px;}
    .body-container-3 .success-story-div .success-stories{font-size: 50px;}
    .footer-container .ready-to-find-your-s{font-size: 49px;}
    .footer-container .exclusively-jewish{font-size: 36px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 32px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 4px;}
}
@media (min-width:2140px) and (max-width: 2190px){
    .header-container .jwed-for-jewish{font-size: 19px;}
    .btn-getstart{font-size:24px;}
    .email-input{font-size: 24px}
    .small-btn-span{font-size: 22px;}
    .copyright-2017-577{font-size: 18px;}
    .sign-up-now-span{font-size: 29px;}
    .header-container .find-chosen-span{font-size: 62px;}
    .header-container .exclusively-jewish{font-size: 38px;}
    .body-container-1 .jewish-meaningful  {font-size: 50px}
    .body-container-1 .our-top-priority-is{font-size: 32px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 38px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 97px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 39px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 45px;}
    .body-container-3 .success-story-div .success-stories{font-size: 49px;}
    .footer-container .ready-to-find-your-s{font-size: 48px;}
    .footer-container .exclusively-jewish{font-size: 35px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 31px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 3px;}
}
@media (min-width:2090px) and (max-width: 2140px){
    .header-container .jwed-for-jewish{font-size: 19px;}
    .btn-getstart{font-size:24px;}
    .email-input{font-size: 24px}
    .small-btn-span{font-size: 21px;}
    .copyright-2017-577{font-size: 17px;}
    .sign-up-now-span{font-size: 29px;}
    .header-container .find-chosen-span{font-size: 61px;}
    .header-container .exclusively-jewish{font-size: 37px;}
    .body-container-1 .jewish-meaningful  {font-size: 49px}
    .body-container-1 .our-top-priority-is{font-size: 31px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 37px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 96px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 38px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 44px;}
    .body-container-3 .success-story-div .success-stories{font-size: 48px;}
    .footer-container .ready-to-find-your-s{font-size: 47px;}
    .footer-container .exclusively-jewish{font-size: 34px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 30px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 2px;}
}
@media (min-width:2040px) and (max-width: 2090px){
    .header-container .jwed-for-jewish{font-size: 18px;}
    .btn-getstart{font-size:23px;}
    .email-input{font-size: 23px}
    .small-btn-span{font-size: 21px;}
    .copyright-2017-577{font-size: 17px;}
    .sign-up-now-span{font-size: 28px;}
    .header-container .find-chosen-span{font-size: 60px;}
    .header-container .exclusively-jewish{font-size: 36px;}
    .body-container-1 .jewish-meaningful  {font-size: 48px}
    .body-container-1 .our-top-priority-is{font-size: 30px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 36px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 95px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 37px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 43px;}
    .body-container-3 .success-story-div .success-stories{font-size: 47px;}
    .footer-container .ready-to-find-your-s{font-size: 46px;}
    .footer-container .exclusively-jewish{font-size: 33px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 29px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 1px;}
}
@media (min-width:1990px) and (max-width: 2040px){
    .header-container .jwed-for-jewish{font-size: 18px;}
    .btn-getstart{font-size:23px;}
    .email-input{font-size: 23px}
    .small-btn-span{font-size: 20px;}
    .copyright-2017-577{font-size: 16px;}
    .sign-up-now-span{font-size: 28px;}
    .header-container .find-chosen-span{font-size: 59px;}
    .header-container .exclusively-jewish{font-size: 35px;}
    .body-container-1 .jewish-meaningful  {font-size: 47px}
    .body-container-1 .our-top-priority-is{font-size: 29px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 35px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 94px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 36px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 42px;}
    .body-container-3 .success-story-div .success-stories{font-size: 46px;}
    .footer-container .ready-to-find-your-s{font-size: 45px;}
    .footer-container .exclusively-jewish{font-size: 32px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 28px;}
}
@media (min-width:1940px) and (max-width: 1990px){
    .header-container .jwed-for-jewish{font-size: 17px;}
     .btn-getstart{font-size:23px;}
    .email-input{font-size: 23px}
    .small-btn-span{font-size: 20px;}
    .copyright-2017-577{font-size: 16px;}
    .sign-up-now-span{font-size: 27px;}
    .header-container .find-chosen-span{font-size: 58px;}
    .header-container .exclusively-jewish{font-size: 34px;}
    .body-container-1 .jewish-meaningful  {font-size: 46px}
    .body-container-1 .our-top-priority-is{font-size: 28px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 34px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 93px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 35px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 41px;}
    .body-container-3 .success-story-div .success-stories{font-size: 46px;}
    .footer-container .ready-to-find-your-s{font-size: 44px;}
    .footer-container .exclusively-jewish{font-size: 31px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 27px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -1px;}
}
@media (min-width:1890px) and (max-width: 1940px){
    .header-container .jwed-for-jewish{font-size: 17px;}
    .btn-getstart{font-size:22px;}
    .email-input{font-size: 22px}
    .small-btn-span{font-size: 19px;}
    .copyright-2017-577{font-size: 15px;}
    .sign-up-now-span{font-size: 27px;}
    .header-container .find-chosen-span{font-size: 57px;}
    .header-container .exclusively-jewish{font-size: 33px;}
    .body-container-1 .jewish-meaningful  {font-size: 45px}
    .body-container-1 .our-top-priority-is{font-size: 27px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 33px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 92px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 34px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 40px;}
    .body-container-3 .success-story-div .success-stories{font-size: 45px;}
    .footer-container .ready-to-find-your-s{font-size: 43px;}
    .footer-container .exclusively-jewish{font-size: 30px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 26px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -2px;}
}
@media (min-width:1840px) and (max-width: 1890px){
    .header-container .jwed-for-jewish{font-size: 16px;}
    .btn-getstart{font-size:21px;}
    .email-input{font-size: 21px}
    .small-btn-span{font-size: 19px;}
    .copyright-2017-577{font-size: 15px;}
    .sign-up-now-span{font-size: 26px;}
    .header-container .find-chosen-span{font-size: 56px;}
    .header-container .exclusively-jewish{font-size: 32px;}
    .body-container-1 .jewish-meaningful  {font-size: 44px}
    .body-container-1 .our-top-priority-is{font-size: 26px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 32px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 91px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 33px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 39px;}
    .body-container-3 .success-story-div .success-stories{font-size: 44px;}
    .footer-container .ready-to-find-your-s{font-size: 42px;}
    .footer-container .exclusively-jewish{font-size: 27px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 25px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -11px;}
}
@media (min-width:1790px) and (max-width: 1840px){
    .header-container .jwed-for-jewish{font-size: 16px;}
    .btn-getstart{font-size:21px;}
    .email-input{font-size: 21px}
    .small-btn-span{font-size: 18px;}
    .copyright-2017-577{font-size: 14px;}
    .sign-up-now-span{font-size: 26px;}
    .header-container .find-chosen-span{font-size: 55px;}
    .header-container .exclusively-jewish{font-size: 31px;}
    .body-container-1 .jewish-meaningful  {font-size: 43px}
    .body-container-1 .our-top-priority-is{font-size: 25px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 31px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 90px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 32px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 38px;}
    .body-container-3 .success-story-div .success-stories{font-size: 43px;}
    .footer-container .ready-to-find-your-s{font-size: 41px;}
    .footer-container .exclusively-jewish{font-size: 26px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 24px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -3px;}
}
@media (min-width:1740px) and (max-width: 1790px){
    .header-container .jwed-for-jewish{font-size: 15px;}
     .btn-getstart{font-size:20px;}
    .email-input{font-size: 20px}
    .small-btn-span{font-size: 18px;}
    .copyright-2017-577{font-size: 14px;}
    .sign-up-now-span{font-size: 25px;}
    .header-container .find-chosen-span{font-size: 54px;}
    .header-container .exclusively-jewish{font-size: 30px;}
    .body-container-1 .jewish-meaningful  {font-size: 42px}
    .body-container-1 .our-top-priority-is{font-size: 24px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 30px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 89px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 31px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 37px;}
    .body-container-3 .success-story-div .success-stories{font-size: 42px;}
    .footer-container .ready-to-find-your-s{font-size: 40px;}
    .footer-container .exclusively-jewish{font-size: 25px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 23px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -4px;}
}
@media (min-width:1690px) and (max-width: 1740px){
    .header-container .jwed-for-jewish{font-size: 15px;}
    .btn-getstart{font-size:20px;}
    .email-input{font-size: 20px}
    .small-btn-span{font-size: 17px;}
    .copyright-2017-577{font-size: 13px;}
    .sign-up-now-span{font-size: 25px;}
    .header-container .find-chosen-span{font-size: 53px;}
    .header-container .exclusively-jewish{font-size: 29px;}
    .body-container-1 .jewish-meaningful  {font-size: 41px}
    .body-container-1 .our-top-priority-is{font-size: 23px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 29px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 88px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 30px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 36px;}
    .body-container-3 .success-story-div .success-stories{font-size: 41px;}
    .footer-container .ready-to-find-your-s{font-size: 39px;}
    .footer-container .exclusively-jewish{font-size: 25px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 22px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -5px;}
}
@media (min-width:1640px) and (max-width: 1690px){
    .header-container .jwed-for-jewish{font-size: 14px;}
    .btn-getstart{font-size:20px;}
    .email-input{font-size: 20px}
    .small-btn-span{font-size: 17px;}
    .copyright-2017-577{font-size: 13px;}
    .sign-up-now-span{font-size: 24px;}
    .header-container .find-chosen-span{font-size: 52px;}
    .header-container .exclusively-jewish{font-size: 28px;}
    .body-container-1 .jewish-meaningful  {font-size: 40px}
    .body-container-1 .our-top-priority-is{font-size: 22px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 27px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 87px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 29px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 35px;}
    .body-container-3 .success-story-div .success-stories{font-size: 40px;}
    .footer-container .ready-to-find-your-s{font-size: 38px;}
    .footer-container .exclusively-jewish{font-size: 24px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 21px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -6px;}
}
@media (min-width:1590px) and (max-width: 1640px){
    .header-container .jwed-for-jewish{font-size: 14px;}
    .btn-getstart{font-size:19px;}
    .email-input{font-size: 19px}
    .small-btn-span{font-size: 16px;}
    .copyright-2017-577{font-size: 12px;}
    .sign-up-now-span{font-size: 24px;}
    .header-container .find-chosen-span{font-size: 51px;}
    .header-container .exclusively-jewish{font-size: 27px;}
    .body-container-1 .jewish-meaningful  {font-size: 39px}
    .body-container-1 .our-top-priority-is{font-size: 21px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 26px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 86px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 28px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 34px;}
    .body-container-3 .success-story-div .success-stories{font-size: 39px;}
    .footer-container .ready-to-find-your-s{font-size: 37px;}
    .footer-container .exclusively-jewish{font-size: 23px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 20px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -7px;}
}
@media (min-width:1540px) and (max-width: 1590px){
    .btn-getstart{font-size:19px;}
    .header-container .jwed-for-jewish{font-size: 13px;}
    .email-input{font-size: 19px}
    .small-btn-span{font-size: 16px;}
    .copyright-2017-577{font-size: 12px;}
    .sign-up-now-span{font-size: 23px;}
    .header-container .find-chosen-span{font-size: 50px;}
    .header-container .exclusively-jewish{font-size: 26px;}
    .body-container-1 .jewish-meaningful  {font-size: 38px}
    .body-container-1 .our-top-priority-is{font-size: 20px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 25px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 83px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 27px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 32px;}
    .body-container-3 .success-story-div .success-stories{font-size: 38px;}
    .footer-container .ready-to-find-your-s{font-size: 36px;}
    .footer-container .exclusively-jewish{font-size: 22px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 19px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -8px;}
}
@media (min-width:1490px) and (max-width: 1540px){
    .header-container .jwed-for-jewish{font-size: 13px;}
    .btn-getstart{font-size:18px;}
    .email-input{font-size: 18px}
    .small-btn-span{font-size: 15px;}
    .copyright-2017-577{font-size: 11px;}
    .sign-up-now-span{font-size: 23px;}
    .header-container .find-chosen-span{font-size: 48px;}
    .header-container .exclusively-jewish{font-size: 25px;}
    .body-container-1 .jewish-meaningful  {font-size: 37px}
    .body-container-1 .our-top-priority-is{font-size: 19px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 25px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 80px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 26px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 31px;}
    .body-container-3 .success-story-div .success-stories{font-size: 37px;}
    .footer-container .ready-to-find-your-s{font-size: 35px;}
    .footer-container .exclusively-jewish{font-size: 21px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 17px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -9px;}
}
@media (min-width:1440px) and (max-width: 1490px){
    .header-container .jwed-for-jewish{font-size: 12px;}
    .btn-getstart{font-size: 18px;}
    .email-input{font-size: 18px}
    .small-btn-span{font-size: 15px;}
    .copyright-2017-577{font-size: 11px;}
    .sign-up-now-span{font-size: 22px;}
    .header-container .find-chosen-span{font-size: 47px;}
    .header-container .exclusively-jewish{font-size: 24px;}
    .body-container-1 .jewish-meaningful  {font-size: 36px}
    .body-container-1 .our-top-priority-is{font-size: 18px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 23px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 79px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 25px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 30px;}
    .body-container-3 .success-story-div .success-stories{font-size: 36px;}
    .footer-container .ready-to-find-your-s{font-size: 34px;}
    .footer-container .exclusively-jewish{font-size: 21px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 17px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -10px;}
}
@media (min-width:1390px) and (max-width: 1440px){
    .header-container .jwed-for-jewish{font-size: 12px;}
    .btn-getstart{font-size:17px;}
    .email-input{font-size: 17px}
    .small-btn-span{font-size: 14px;}
    .header-container .find-chosen-span{font-size: 46px;}
    .header-container .exclusively-jewish{font-size: 23px;}
    .body-container-1 .jewish-meaningful  {font-size: 35px}
    .body-container-1 .our-top-priority-is{font-size: 17px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 22px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 78px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 24px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 29px;}
    .body-container-3 .success-story-div .success-stories{font-size: 35px;}
    .footer-container .ready-to-find-your-s{font-size: 33px;}
    .footer-container .exclusively-jewish{font-size: 20px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 16px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -11px;}
}
@media (min-width: 1340px) and (max-width:1390px){
    .header-container .jwed-for-jewish{font-size: 11px;}
    .btn-getstart{font-size:17px;}
    .email-input{font-size: 17px}
    .small-btn-span{font-size: 14px;}
    .header-container .find-chosen-span{font-size: 44px;}
    .header-container .exclusively-jewish{font-size: 22px;}
    .body-container-1 .jewish-meaningful  {font-size: 34px}
    .body-container-1 .our-top-priority-is{font-size: 16px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 21px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 76px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 23px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 28px;}
    .body-container-3 .success-story-div .success-stories{font-size: 34px;}
    .footer-container .ready-to-find-your-s{font-size: 32px;}
    .footer-container .exclusively-jewish{font-size: 19px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 15px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -12px;}
}
@media (min-width: 1290px) and (max-width:1340px){
    .header-container .jwed-for-jewish{font-size: 11px;}
    .btn-getstart{font-size:16px;}
    .email-input{font-size: 16px}
    .header-container .find-chosen-span{font-size: 42px;}
    .header-container .exclusively-jewish{font-size: 20px;}
    .body-container-1 .jewish-meaningful  {font-size: 33px}
    .body-container-1 .our-top-priority-is{font-size: 15px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 20px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 74px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 22px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 27px;}
    .body-container-3 .success-story-div .success-stories{font-size: 33px;}
    .footer-container .ready-to-find-your-s{font-size: 30px;}
    .footer-container .exclusively-jewish{font-size: 18px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 14px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -13px;}
}
@media (min-width: 1240px) and (max-width: 1290px) {
    .header-container .jwed-for-jewish{font-size: 10px;}
    .btn-getstart{font-size:16px;}
    .email-input{font-size: 16px}
    .header-container .find-chosen-span{font-size: 40px;}
    .header-container .exclusively-jewish{font-size: 19px;}
    .body-container-1 .jewish-meaningful  {font-size: 31px}
    .body-container-1 .our-top-priority-is{font-size: 14px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 19px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 72px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 21px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 26px;}
    .body-container-3 .success-story-div .success-stories{font-size: 32px;}
    .footer-container .ready-to-find-your-s{font-size: 29px;}
    .footer-container .exclusively-jewish{font-size: 17px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 13px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -14px;}
}
@media (min-width: 1190px) and (max-width:1240px){
    .header-container .jwed-for-jewish{font-size: 10px;}
    .btn-getstart{font-size:15px;}
    .email-input{font-size: 15px}
    .small-btn-span{font-size: 13px;}
    .header-container .find-chosen-span{font-size: 38px;}
    .header-container .exclusively-jewish{font-size: 18px;}
    .body-container-1 .jewish-meaningful  {font-size: 30px}
    .body-container-1 .our-top-priority-is{font-size: 13px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 18px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 70px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 20px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 25px;}
    .body-container-3 .success-story-div .success-stories{font-size: 31px;}
    .footer-container .ready-to-find-your-s{font-size: 28px;}
    .footer-container .exclusively-jewish{font-size: 16px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 12px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -15px;}
}
@media (min-width: 1140px) and (max-width: 1190px) {
    .header-container .jwed-for-jewish{font-size: 9px;}
    .btn-getstart{font-size:15px;}
    .email-input{font-size: 15px}
    .small-btn-span{font-size: 13px;}
    .header-container .find-chosen-span{font-size: 36px;}
    .header-container .exclusively-jewish{font-size: 17px;}
    .body-container-1 .jewish-meaningful{font-size: 29px}
    .body-container-1 .our-top-priority-is{font-size: 12px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only{font-size: 17px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 68px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 19px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 24px;}
    .body-container-3 .success-story-div .success-stories{font-size: 30px;}
    .footer-container .ready-to-find-your-s{font-size: 26px;}
    .footer-container .exclusively-jewish{font-size: 15px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 11px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -16px;}
}
@media (min-width: 1090px) and (max-width: 1140px) {
    .header-container .jwed-for-jewish{font-size: 9px;}
    .btn-getstart{font-size:14px;}
    .email-input{font-size: 14px}
    .small-btn-span{font-size: 12px;}
    .header-container .find-chosen-span{font-size: 34px;}
    .header-container .exclusively-jewish{font-size: 16px;}
    .body-container-1 .jewish-meaningful  {font-size: 28px}
    .body-container-1 .our-top-priority-is{font-size: 11px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 16px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 66px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 18px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 23px;}
    .body-container-3 .success-story-div .success-stories{font-size: 29px;}
    .footer-container .ready-to-find-your-s{font-size: 25px;}
    .footer-container .exclusively-jewish{font-size: 14px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 10px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -17px;}
}
@media (min-width: 1040px) and (max-width: 1090px) {
    .header-container .jwed-for-jewish{font-size: 8px;}
    .btn-getstart {font-size:14px;}
    .email-input{font-size: 14px}
    .small-btn-span{font-size: 12px;}
    .header-container .find-chosen-span{font-size: 32px;}
    .header-container .exclusively-jewish{font-size: 15px;}
    .body-container-1 .jewish-meaningful  {font-size: 27px}
    .body-container-1 .our-top-priority-is{font-size: 10px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 15px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 64px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 17px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 22px;}
    .body-container-3 .success-story-div .success-stories{font-size: 28px;}
    .footer-container .ready-to-find-your-s{font-size: 24px;}
    .footer-container .exclusively-jewish{font-size: 13px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 9px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -18px;}
}
@media (min-width: 1024px) and (max-width: 1040px) {
    .header-container .jwed-for-jewish{font-size: 8px;}
    .btn-getstart {font-size:13px;}
    .email-input{font-size: 13px}
    .small-btn-span{font-size: 11px;}
    .header-container .find-chosen-span{font-size: 30px;}
    .header-container .exclusively-jewish{font-size: 15px;}
    .body-container-1 .jewish-meaningful  {font-size: 26px}
    .body-container-1 .our-top-priority-is{font-size: 9px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 14px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 62px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 16px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 21px;}
    .body-container-3 .success-story-div .success-stories{font-size: 27px;}
    .footer-container .ready-to-find-your-s{font-size: 22px;}
    .footer-container .exclusively-jewish{font-size: 12px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 8px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -19px;}
}
@media (min-width:990px) and (max-width: 1024px) {
    .header-container .jwed-for-jewish{font-size: 18px;}
    .btn-getstart{font-size:40px;height:7%;}
    .email-input{font-size: 40px}
    .small-btn-span{font-size: 21px;}
    .copyright-2017-577{font-size: 17px;line-height: 24px;}
    .sign-up-now-span{font-size: 28px;}
    .login-submit-button{font-size: 26px;}
    .body-container-1 .exclusively-marriage{font-size: 39px;}
    .body-container-1 .exclusively-jewish{font-size: 39px;}
    .header-container .find-chosen-span{font-size: 60px;line-height: 70px;}
    .header-container .exclusively-jewish{font-size: 36px;line-height: 45px;}
    .body-container-1 .jewish-meaningful  {font-size: 48px}
    .body-container-1 .our-top-priority-is{font-size: 30px;line-height: 70px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 36px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 95px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 37px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 43px;}
    .body-container-3 .success-story-div .success-stories{font-size: 47px;}
    .footer-container .ready-to-find-your-s{font-size: 72px; line-height: 85px;}
    .footer-container .exclusively-jewish{font-size: 33px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 29px;line-height: 90px;}
    .footer-container .exclusively-jewish-m{font-size: 25px;line-height: 32px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: 1px;}
}

@media (min-width:940px) and (max-width: 990px) {
    .header-container .jwed-for-jewish{font-size: 18px;}
    .btn-getstart{font-size:38px;}
    .email-input{font-size: 38px}
    .small-btn-span{font-size: 20px;}
    .copyright-2017-577{font-size: 16px;line-height: 23px;}
    .sign-up-now-span{font-size: 28px;}
    .login-submit-button{font-size: 25px;}
    .body-container-1 .exclusively-marriage{font-size: 38px;}
    .body-container-1 .exclusively-jewish{font-size: 38px;}
    .header-container .find-chosen-span{font-size: 59px;line-height: 68px;}
    .header-container .exclusively-jewish{font-size: 35px;line-height: 43px;}
    .body-container-1 .jewish-meaningful  {font-size: 47px}
    .body-container-1 .our-top-priority-is{font-size: 29px;line-height: 66px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 35px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 94px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 36px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 42px;}
    .body-container-3 .success-story-div .success-stories{font-size: 46px;}
    .footer-container .ready-to-find-your-s{font-size: 68px;line-height: 80px;}
    .footer-container .exclusively-jewish{font-size: 32px;}
    .footer-container .exclusively-jewish-m{font-size: 24px;line-height: 31px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 28px; line-height: 84px;}
}

@media (min-width:890px) and (max-width: 940px) {
     .header-container .jwed-for-jewish{font-size: 17px;}
     .btn-getstart{font-size:36px;}
    .email-input{font-size: 36px}
    .small-btn-span{font-size: 20px;}
    .copyright-2017-577{font-size: 16px;line-height: 22px;}
    .sign-up-now-span{font-size: 27px;}
    .login-submit-button{font-size: 24px;}
    .body-container-1 .exclusively-marriage{font-size: 37px;}
    .body-container-1 .exclusively-jewish{font-size: 37px;}
    .header-container .find-chosen-span{font-size: 58px;line-height: 66px;}
    .header-container .exclusively-jewish{font-size: 34px;line-height: 41px;}
    .body-container-1 .jewish-meaningful  {font-size: 46px}
    .body-container-1 .our-top-priority-is{font-size: 28px;line-height: 62px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 34px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 93px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 35px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 41px;}
    .body-container-3 .success-story-div .success-stories{font-size: 46px;}
    .footer-container .ready-to-find-your-s{font-size: 64px;line-height: 75px;}
    .footer-container .exclusively-jewish{font-size: 31px;}
    .footer-container .exclusively-jewish-m{font-size: 23px;line-height: 30px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 27px; line-height: 78px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -1px;}
}
@media (min-width:840px) and (max-width: 890px) {
    .header-container .jwed-for-jewish{font-size: 17px;}
    .btn-getstart{font-size:34px;}
    .email-input{font-size: 34px}
    .small-btn-span{font-size: 19px;}
    .copyright-2017-577{font-size: 15px;line-height: 21px;}
    .sign-up-now-span{font-size: 27px;}
    .login-submit-button{font-size: 23px;}
   .body-container-1 .exclusively-marriage{font-size: 36px;}
   .body-container-1 .exclusively-jewish{font-size: 36px;}
    .header-container .find-chosen-span{font-size: 57px; line-height: 64px;}
    .header-container .exclusively-jewish{font-size: 33px;line-height: 39px;}
    .body-container-1 .jewish-meaningful  {font-size: 45px}
    .body-container-1 .our-top-priority-is{font-size: 27px;line-height: 58px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 33px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 92px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 34px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 40px;}
    .body-container-3 .success-story-div .success-stories{font-size: 45px;}
    .footer-container .ready-to-find-your-s{font-size: 60px;line-height: 70px;}
    .footer-container .exclusively-jewish{font-size: 30px;}
    .footer-container .exclusively-jewish-m{font-size: 22px;line-height: 29px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 26px;line-height: 72px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -2px;}
}
@media (min-width:790px) and (max-width: 840px) {
   .header-container .jwed-for-jewish{font-size: 16px;}
    .btn-getstart{font-size:32px;}
    .email-input{font-size: 32px}
    .small-btn-span{font-size: 19px;}
    .copyright-2017-577{font-size: 15px;line-height: 20px;}
    .sign-up-now-span{font-size: 26px;}
    .login-submit-button{font-size: 22px;}
    .body-container-1 .exclusively-marriage{font-size: 35px;}
    .body-container-1 .exclusively-jewish{font-size: 35px;}
    .header-container .find-chosen-span{font-size: 56px;line-height: 62px;}
    .header-container .exclusively-jewish{font-size: 32px;line-height: 37px;}
    .body-container-1 .jewish-meaningful  {font-size: 44px}
    .body-container-1 .our-top-priority-is{font-size: 26px;line-height: 54px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 32px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 91px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 33px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 39px;}
    .body-container-3 .success-story-div .success-stories{font-size: 44px;}
    .footer-container .ready-to-find-your-s{font-size: 56px;line-height: 65px;}
    .footer-container .exclusively-jewish{font-size: 27px;}
    .footer-container .exclusively-jewish-m{font-size: 21px;line-height: 28px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 25px;line-height: 66px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -11px;} 
}
@media (min-width:740px) and (max-width: 790px) {
    .header-container .jwed-for-jewish{font-size: 16px;}
    .btn-getstart{font-size:30px;}
    .email-input{font-size: 30px}
    .small-btn-span{font-size: 18px;}
    .copyright-2017-577{font-size: 14px;line-height: 19px;}
    .sign-up-now-span{font-size: 26px;}
    .login-submit-button{font-size: 21px;}
    .body-container-1 .exclusively-marriage{font-size: 34px;}
    .body-container-1 .exclusively-jewish{font-size: 34px;}
    .header-container .find-chosen-span{font-size: 55px;line-height: 60px;}
    .header-container .exclusively-jewish{font-size: 31px;line-height: 35px;}
    .body-container-1 .jewish-meaningful  {font-size: 43px}
    .body-container-1 .our-top-priority-is{font-size: 25px;line-height: 50px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 31px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 90px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 32px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 38px;}
    .body-container-3 .success-story-div .success-stories{font-size: 43px;}
    .footer-container .ready-to-find-your-s{font-size: 52px;line-height: 60px;}
    .footer-container .exclusively-jewish{font-size: 26px;}
    .footer-container .exclusively-jewish-m{font-size: 20;line-height: 27px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 24px;line-height: 60px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -3px;}
}
@media (min-width:690px) and (max-width: 740px) {
    .header-container .jwed-for-jewish{font-size: 15px;}
     .btn-getstart{font-size:28px;}
    .email-input{font-size: 28px}
    .small-btn-span{font-size: 18px;}
    .copyright-2017-577{font-size: 14px;line-height: 18px;}
    .sign-up-now-span{font-size: 25px;}
    .login-submit-button{font-size: 20px;}
    .body-container-1 .exclusively-marriage{font-size: 33px;}
    .body-container-1 .exclusively-jewish{font-size: 33px;}
    .header-container .find-chosen-span{font-size: 54px;line-height: 58px;}
    .header-container .exclusively-jewish{font-size: 30px;line-height: 33px;}
    .body-container-1 .jewish-meaningful  {font-size: 42px}
    .body-container-1 .our-top-priority-is{font-size: 24px;line-height: 46px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 30px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 89px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 31px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 37px;}
    .body-container-3 .success-story-div .success-stories{font-size: 42px;}
    .footer-container .ready-to-find-your-s{font-size: 48px;line-height: 55px;}
    .footer-container .exclusively-jewish{font-size: 25px;}
    .footer-container .exclusively-jewish-m{font-size: 19px;line-height: 26px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 23px;line-height: 56px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -4px;}
}
@media (min-width:640px) and (max-width: 690px) {
    .header-container .jwed-for-jewish{font-size: 15px;}
    .btn-getstart{font-size:26px;}
    .email-input{font-size: 26px}
    .small-btn-span{font-size: 17px;}
    .copyright-2017-577{font-size: 13px;line-height: 17px;}
    .sign-up-now-span{font-size: 25px;}
    .login-submit-button{font-size: 19px;}
    .body-container-1 .exclusively-marriage{font-size: 32px;}
    .body-container-1 .exclusively-jewish{font-size: 32px;}
    .header-container .find-chosen-span{font-size: 53px;line-height: 56px;}
    .header-container .exclusively-jewish{font-size: 29px;line-height: 31px;}
    .body-container-1 .jewish-meaningful  {font-size: 41px}
    .body-container-1 .our-top-priority-is{font-size: 23px;line-height: 42px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 29px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 88px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 30px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 36px;}
    .body-container-3 .success-story-div .success-stories{font-size: 41px;}
    .footer-container .ready-to-find-your-s{font-size: 44px;line-height: 50px;}
    .footer-container .exclusively-jewish{font-size: 25px;}
    .footer-container .exclusively-jewish-m{font-size: 18px;line-height: 25px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 22px;line-height: 50px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -5px;}
}
@media (min-width:590px) and (max-width: 640px) {
    .header-container .jwed-for-jewish{font-size: 14px;}
    .btn-getstart{font-size:24px;}
    .email-input{font-size: 24px}
    .small-btn-span{font-size: 17px;}
    .copyright-2017-577{font-size: 13px;line-height: 16px;}
    .sign-up-now-span{font-size: 24px;}
    .login-submit-button{font-size: 18px;}
    .body-container-1 .exclusively-marriage{font-size: 31px;}
    .body-container-1 .exclusively-jewish{font-size: 31px;}
    .header-container .find-chosen-span{font-size: 52px;line-height: 54px;}
    .header-container .exclusively-jewish{font-size: 28px;line-height: 29px;}
    .body-container-1 .jewish-meaningful  {font-size: 40px}
    .body-container-1 .our-top-priority-is{font-size: 22px;line-height: 38px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 27px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 87px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 29px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 35px;}
    .body-container-3 .success-story-div .success-stories{font-size: 40px;}
    .footer-container .ready-to-find-your-s{font-size: 40px; line-height: 45px;}
    .footer-container .exclusively-jewish{font-size: 24px;}
    .footer-container .exclusively-jewish-m{font-size: 18px;line-height: 24px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 21px;line-height: 44px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -6px;}
}
@media (min-width:540px) and (max-width: 590px) {
    .header-container .jwed-for-jewish{font-size: 14px;}
    .btn-getstart{font-size:22px;}
    .email-input{font-size:22px}
    .small-btn-span{font-size: 16px;}
    .copyright-2017-577{font-size: 12px;line-height: 15px;}
    .sign-up-now-span{font-size: 24px;}
    .login-submit-button{font-size: 17px;}
    .body-container-1 .exclusively-marriage{font-size: 30px;}
    .body-container-1 .exclusively-jewish{font-size: 30px;}
    .header-container .find-chosen-span{font-size: 51px;line-height: 52px;}
    .header-container .exclusively-jewish{font-size: 27px;line-height: 27px;}
    .body-container-1 .jewish-meaningful  {font-size: 39px}
    .body-container-1 .our-top-priority-is{font-size: 21px;line-height: 34px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 26px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 86px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 28px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 34px;}
    .body-container-3 .success-story-div .success-stories{font-size: 39px;}
    .footer-container .ready-to-find-your-s{font-size: 36px;line-height: 40px;}
    .footer-container .exclusively-jewish{font-size: 23px;}
    .footer-container .exclusively-jewish-m{font-size: 17px;line-height: 23px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 20px;line-height: 38px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -7px;}
}
@media (min-width:490px) and (max-width: 540px) {
    .btn-getstart{font-size:20px;}
    .header-container .jwed-for-jewish{font-size: 13px;}
    .email-input{font-size: 20px}
    .small-btn-span{font-size: 16px;}
    .copyright-2017-577{font-size: 12px;line-height: 14px;}
    .sign-up-now-span{font-size: 23px;}
    .login-submit-button{font-size: 16px;}
    .body-container-1 .exclusively-marriage{font-size: 29px;}
    .body-container-1 .exclusively-jewish{font-size: 29px;}
    .header-container .find-chosen-span{font-size: 49px;line-height: 50px;}
    .header-container .exclusively-jewish{font-size: 26px;line-height: 25px;}
    .body-container-1 .jewish-meaningful  {font-size: 38px}
    .body-container-1 .our-top-priority-is{font-size: 20px;line-height: 30px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 25px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 83px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 27px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 32px;}
    .body-container-3 .success-story-div .success-stories{font-size: 38px;}
    .footer-container .ready-to-find-your-s{font-size: 32px;line-height: 35px;}
    .footer-container .exclusively-jewish{font-size: 22px;}
    .footer-container .exclusively-jewish-m{font-size: 17px;line-height: 22px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 19px;line-height: 32px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -8px;}
}

@media (min-width:440px) and (max-width: 490px) {
    .btn-getstart{font-size:18px;}
    .header-container .jwed-for-jewish{font-size: 12px;}
    .email-input{font-size: 18px}
    .small-btn-span{font-size: 15px;}
    .copyright-2017-577{font-size: 11px;line-height: 13px;}
    .sign-up-now-span{font-size: 22px;}
    .login-submit-button{font-size: 15px;}
    .body-container-1 .exclusively-jewish{font-size: 28px;}
    .body-container-1 .exclusively-marriage{font-size: 28px;}
    .header-container .find-chosen-span{font-size: 47px;line-height: 48px;}
    .header-container .exclusively-jewish{font-size: 25px;line-height: 23px;}
    .body-container-1 .jewish-meaningful  {font-size: 37px}
    .body-container-1 .our-top-priority-is{font-size: 19px;line-height: 26px;}
    .body-container-1 .jewish-meaningfull-div .jewish-only {font-size: 24px;}
    .body-container-2 .avatar-img-div .matched-count-bold{font-size: 82px;}
    .body-container-2 .avatar-img-div .matched-count{font-size: 26px;}
    .body-container-2 .group-img-div .in-the-media{font-size: 31px;}
    .body-container-3 .success-story-div .success-stories{font-size: 37px;}
    .footer-container .ready-to-find-your-s{font-size: 28px;line-height: 30px;}
    .footer-container .exclusively-jewish{font-size: 21px;}
    .footer-container .exclusively-jewish-m{font-size: 17px;line-height: 21px;}
    .body-container-3 .success-story-div .s-of-jewish-sin{font-size: 18px;line-height: 26px;}
    .body-container-3 .success-story-div .s-of-jewish-sin span{margin-top: -9px;}
}